@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700');


.idk {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2456px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.idk .footer {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2415px;
  height              : 41px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .footer .rectangle {
  background-color    : rgba(229, 243, 243, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .footer .social {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 21px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
}
.idk .footer .social .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 18px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .footer .social .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 20px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
}
.idk .footer .social .fill70 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 21px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.idk .footer .a2018tesstechnologi {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : auto;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.idk .bottom {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2214px;
  height              : 201px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .bottom .container {
  background-color    : rgba(247, 251, 252, 1.0);
  top                 : 0px;
  height              : 201px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .bottom .contact {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 1149px;
}
.idk .bottom .contact .card {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.idk .bottom .contact .card:hover {
  transform           : scale(1.1);
}
.idk .bottom .contact .contact1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 76px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .bottom .careers {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 870px;
  transition          : all 0.2s ease-in-out;
}
.idk .bottom .careers:hover {
  transform           : scale(1.1);
}
.idk .bottom .careers .card1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .bottom .careers .careers1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 76px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .bottom .advertisers {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 591px;
  transition          : all 0.2s ease-in-out;
}
.idk .bottom .advertisers:hover {
  transform           : scale(1.1);
}
.idk .bottom .advertisers .card2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .bottom .advertisers .advertisers1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 76px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .bottom .podcasts {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  transition          : all 0.2s ease-in-out;
}
.idk .bottom .podcasts:hover {
  transform           : scale(1.1);
}
.idk .bottom .podcasts .card3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 180px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .bottom .podcasts .ourpodcasts {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 76px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .bottom .about {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 156px;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  transition          : all 0.2s ease-in-out;
}
.idk .bottom .about:hover {
  transform           : scale(1.1);
}
.idk .bottom .about .card4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 156px;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .bottom .about .about1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 64px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .content {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 412px;
  height              : 1806px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1806px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .advertisement {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1290px;
  height              : 516px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .advertisement .bg1 {
  background-color    : rgba(229, 243, 243, 1.0);
  top                 : 0px;
  height              : 516px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .advertisement .ad2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 321px;
  height              : 98px;
  width               : 866px;
  position            : absolute;
  margin              : 0;
  left                : 287px;
  border-radius       : 10px;
  overflow            : hidden;
}
.idk .content .advertisement .ad2 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 98px;
  width               : 866px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
}
.idk .content .advertisement .ad2 .rectangle2 {
  background-color    : rgba(80, 109, 207, 1.0);
  top                 : 0px;
  height              : 98px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .advertisement .ad2 .play {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 29.0px;
}
.idk .content .advertisement .ad2 .sampleadvertisement {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 209px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(80, 109, 207, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 29.0px;
}
.idk .content .advertisement .ad1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 172px;
  height              : 98px;
  width               : 866px;
  position            : absolute;
  margin              : 0;
  left                : 287px;
  border-radius       : 10px;
  overflow            : hidden;
}
.idk .content .advertisement .ad1 .mask1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 98px;
  width               : 866px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
}
.idk .content .advertisement .ad1 .rectangle21 {
  background-color    : rgba(80, 109, 207, 1.0);
  top                 : 0px;
  height              : 98px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .advertisement .ad1 .play1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 29.0px;
}
.idk .content .advertisement .ad1 .sampleadvertisement1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 209px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(80, 109, 207, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 29.0px;
}
.idk .content .advertisement .advertisers2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 490px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 72.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  letter-spacing      : 2.7px;
  line-height         : 88.0px;
}
.idk .content .pastepisodes {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : 667px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .pastepisodes .rectangle7 {
  background-color    : rgba(247, 251, 252, 1.0);
  top                 : 0px;
  height              : 667px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .pastepisodes .episode {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 121px;
  height              : 440px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
}
.idk .content .pastepisodes .episode .button {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 397px;
  height              : 43px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
}
.idk .content .pastepisodes .episode .button .play2 {
  background-color    : rgba(80, 109, 207, 1.0);
  top                 : 0px;
  height              : 43px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.idk .content .pastepisodes .episode .button .queue {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .content .pastepisodes .episode .button1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 397px;
  height              : 43px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .pastepisodes .episode .button1 .play3 {
  background-color    : rgba(80, 109, 207, 1.0);
  top                 : 0px;
  height              : 43px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.idk .content .pastepisodes .episode .button1 .play4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .content .pastepisodes .episode .episode2movingaw {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 273px;
  height              : auto;
  width               : 242px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.idk .content .pastepisodes .episode .idk {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 257px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  overflow            : hidden;
}
.idk .content .pastepisodes .episode .idk .mask2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 257px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
}
.idk .content .pastepisodes .episode .idk .idk1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 257px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .pastepisodes .episode1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 121px;
  height              : 441px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
}
.idk .content .pastepisodes .episode1 .button2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 397px;
  height              : 44px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
}
.idk .content .pastepisodes .episode1 .button2 .play5 {
  background-color    : rgba(80, 109, 207, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.idk .content .pastepisodes .episode1 .button2 .queue1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .content .pastepisodes .episode1 .button3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 397px;
  height              : 44px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .pastepisodes .episode1 .button3 .play6 {
  background-color    : rgba(80, 109, 207, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.idk .content .pastepisodes .episode1 .button3 .play7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .content .pastepisodes .episode1 .episode1materiali {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 273px;
  height              : auto;
  width               : 242px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.idk .content .pastepisodes .episode1 .idk2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 257px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  overflow            : hidden;
}
.idk .content .pastepisodes .episode1 .idk2 .mask3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 257px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
}
.idk .content .pastepisodes .episode1 .idk2 .idk3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 257px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .pastepisodes .pastepisodes1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 41px;
  height              : auto;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 589px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.idk .content .top {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 87px;
  height              : 446px;
  width               : 1216px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
}
.idk .content .top .idk4 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 446px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  overflow            : hidden;
}
.idk .content .top .idk4 .mask4 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 446px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
}
.idk .content .top .idk4 .idk5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 446px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 373px;
  height              : 73px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid43 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 71px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid30 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 51px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid30 .xmlid25 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 49px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid30 .xmlid25 .xmlid40 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid30 .xmlid25 .xmlid38 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid30 .xmlid25 .xmlid26 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 41px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid24 .xmlid30 .xmlid25 .xmlid26 .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 36px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 71px;
  width               : 277px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 52px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 16px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 15px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 13px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 13px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 13px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group .shape8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 13px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 30px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 23px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 23px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 19px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 19px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape17 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 19px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 19px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape19 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 19px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 23px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 174px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid61 .group1 .shape21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 19px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 51px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid5 .xmlid6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid5 .xmlid6 .xmlid20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid5 .xmlid6 .xmlid18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid5 .xmlid6 .xmlid7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 41px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.idk .content .top .listenonapplepodcastssrgbus .xmlid5 .xmlid6 .xmlid7 .shape22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 35px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.idk .content .top .thereissomethinga {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 118px;
  height              : auto;
  width               : 728px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.idk .content .top .idkpodcast {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 72.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  line-height         : 88.0px;
}
.idk .top1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 66px;
  height              : 347px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .top1 .container1 {
  background-color    : rgba(245, 244, 249, 1.0);
  top                 : 0px;
  height              : 347px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .top1 .media {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 73px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 471px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 144.0px;
  color               : rgba(62, 65, 100, 1.0);
  text-align          : left;
  line-height         : 175.0px;
}
.idk .navbar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 65px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .navbar .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 65px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.idk .navbar .blog {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1374px;
  transition          : all 0.2s ease-in-out;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.idk .navbar .blog:hover {
  transform           : scale(1.1);
}
.idk .navbar .media1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1297px;
  transition          : all 0.2s ease-in-out;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.idk .navbar .media1:hover {
  transform           : scale(1.1);
}
.idk .navbar .listeners {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 127px;
  transition          : all 0.2s ease-in-out;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.idk .navbar .listeners:hover {
  transform           : scale(1.1);
}
.idk .navbar .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 44px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 698px;
  transition          : all 0.2s ease-in-out;
}
.idk .navbar .logo:hover {
  transform           : scale(1.1);
}
.idk .navbar .creators {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transition          : all 0.2s ease-in-out;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.idk .navbar .creators:hover {
  transform           : scale(1.1);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}