/*
Begin
 */

@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700";
body {
    color: #4c5462;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
@media (min-width:1200px) {
    .container {
        width: 1200px
    }
}
.img {
    max-width: 100%;
}
a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
a:focus, a:hover, a:active {
    color: #4c5462;
    text-decoration: none;
}
a, button {
    outline: medium none;
    color: #4c5462;
    text-decoration: none;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #4c5462;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}
h1 {
    font-size: 48px;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
    color: #2b323f;
}
h4 {
    font-size: 20px;
    color: #2b323f;
    font-weight: 600;
}
h5 {
    font-size: 18px;
    color: #2b323f;
    font-weight: 600;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none
}
p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #4c5462;
    margin-bottom: 15px;
}
hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
label {
    color: #626262;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
blockquote {
    background-color: #f6f6f6;
    border: 0 none;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin: 60px 0 30px 30px;
    padding: 30px;
}
*::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}
*::-moz-placeholder {
    color: #4c5462;
    font-size: 14px;
}
*::-webkit-input-placeholder {
    color: #4c5462;
    font-size: 14px;
}
*:-ms-input-placeholder {
    color: #4c5462;
    font-size: 14px;
}
.fix {
    overflow: hidden;
}
.media-left {
    padding-right: 30px;
}
.dsp-tc {
    display: table-cell;
    vertical-align: top;
}
.btn {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #595BC5 0%, #6D53C8 100%) repeat scroll 0 0;
    border: 0 none;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    outline: 0 none;
    padding: 13px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: #fff;
    outline: 0 none;
    border: 0 none;
    text-decoration: none;
}
.btn:active {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
}
.btn.btn-bordered-white {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    padding: 11px 30px;
}

.btn.btn-bordered-white:hover,
.btn.btn-bordered-white:focus {
    border-color: transparent;
    outline: 0 none;
}
.btn.btn-bordered-white:hover:after,
.btn.btn-bordered-white:focus:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn.btn-bordered-grad {
    background: transparent none repeat scroll 0 0;
    color: #2b323f;
}

.btn.btn-bordered-grad:hover,
.btn.btn-bordered-grad:focus {
    color: #fff;
}
.btn.btn-bordered-grad:after {
    background: #fff none repeat scroll 0 0;
    border-radius: 100px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.btn.btn-bordered-grad:hover:after,
.btn.btn-bordered-grad:focus:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.button-group a {
    margin-right: 30px;
}
.button-group a:last-child {
    margin-right: 0;
}

.header-space {
    margin-top: 120px;
}

/* =====================================
Transitions
===================================== */

.transition-3s {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a, .btn, img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* =====================================
Annoying margin stuff.
Thanks Bootstrap for all the help.

- Tess Team
===================================== */

.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-90 {
    margin-top: 90px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-110 {
    margin-top: 110px;
}
.mt-120 {
    margin-top: 120px;
}
.mt-130 {
    margin-top: 130px;
}
.mt-140 {
    margin-top: 140px;
}
.mt-150 {
    margin-top: 150px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-110 {
    margin-bottom: 110px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-130 {
    margin-bottom: 130px;
}
.mb-140 {
    margin-bottom: 140px;
}
.mb-150 {
    margin-bottom: 150px;
}

.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-70 {
    padding-top: 70px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-90 {
    padding-top: 90px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-110 {
    padding-top: 110px;
}
.pt-120 {
    padding-top: 120px;
}
.pt-130 {
    padding-top: 130px;
}
.pt-140 {
    padding-top: 140px;
}
.pt-150 {
    padding-top: 150px;
}

.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-40 {
    padding-right: 40px;
}
.pr-50 {
    padding-right: 50px;
}
.pr-60 {
    padding-right: 60px;
}
.pr-70 {
    padding-right: 70px;
}
.pr-80 {
    padding-right: 80px;
}
.pr-90 {
    padding-right: 90px;
}
.pr-100 {
    padding-right: 100px;
}
.pr-110 {
    padding-right: 110px;
}
.pr-120 {
    padding-right: 120px;
}
.pr-130 {
    padding-right: 130px;
}
.pr-140 {
    padding-right: 140px;
}

.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-110 {
    padding-bottom: 110px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pb-130 {
    padding-bottom: 130px;
}
.pb-140 {
    padding-bottom: 140px;
}
.pb-150 {
    padding-bottom: 150px;
}

.pl-0 {
    padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-40 {
    padding-left: 40px;
}
.pl-50 {
    padding-left: 50px;
}
.pl-60 {
    padding-left: 60px;
}
.pl-70 {
    padding-left: 70px;
}
.pl-80 {
    padding-left: 80px;
}
.pl-90 {
    padding-left: 90px;
}
.pl-100 {
    padding-left: 100px;
}
.pl-110 {
    padding-left: 110px;
}
.pl-120 {
    padding-left: 120px;
}
.pl-130 {
    padding-left: 130px;
}
.pl-140 {
    padding-left: 140px;
}
.pl-150 {
    padding-left: 150px;
}

.ptb-0 {
    padding: 0;
}
.ptb-10 {
    padding: 10px 0;
}
.ptb-20 {
    padding: 20px 0;
}
.ptb-30 {
    padding: 30px 0;
}
.ptb-40 {
    padding: 40px 0;
}
.ptb-50 {
    padding: 50px 0;
}
.ptb-60 {
    padding: 60px 0;
}
.ptb-70 {
    padding: 70px 0;
}
.ptb-80 {
    padding: 80px 0;
}
.ptb-90 {
    padding: 90px 0;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-110 {
    padding: 110px 0;
}
.ptb-120 {
    padding: 120px 0;
}
.ptb-130 {
    padding: 130px 0;
}
.ptb-140 {
    padding: 140px 0;
}
.ptb-150 {
    padding: 150px 0;
}
.p-100 {
    padding: 100px;
}

.mtb-0 {
    margin: 0;
}
.mtb-10 {
    margin: 10px 0;
}
.mtb-15 {
    margin: 15px 0;
}
.mtb-20 {
    margin: 20px 0;
}
.mtb-30 {
    margin: 30px 0;
}
.mtb-40 {
    margin: 40px 0;
}
.mtb-50 {
    margin: 50px 0;
}
.mtb-60 {
    margin: 60px 0;
}
.mtb-70 {
    margin: 70px 0;
}
.mtb-80 {
    margin: 80px 0;
}
.mtb-90 {
    margin: 90px 0;
}
.mtb-100 {
    margin: 100px 0;
}
.mtb-110 {
    margin: 110px 0;
}
.mtb-120 {
    margin: 120px 0;
}
.mtb-130 {
    margin: 130px 0;
}
.mtb-140 {
    margin: 140px 0;
}
.mtb-150 {
    margin: 150px 0;
}

.blue-grad-bg-2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #595BC5 0%, #6D53C8 100%) repeat scroll 0 0;
}

/* =====================================
Overlays
===================================== */

.overlay-white,
.overlay-dark,
.overlay-grad-one, 
.overlay-grad-two  {
    position: relative;
    z-index: 0;
}
.overlay-white:after {
    background-color: rgba(245, 247, 251, 1);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.overlay-dark:after {
    background: linear-gradient(#000 0%, #272d3a 100%) repeat scroll 0 0;;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.overlay-grad-one:after, .overlay-grad-two:after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* =====================================
Header Styling
===================================== */

.section-heading {
    margin: 0 auto 80px;
    width: 60%;
}
.section-heading h2 {
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.section-heading h2:after {
    background: rgba(0, 0, 0, 0) url("img/others/line-shape.png") no-repeat scroll 0 0;
    content: "";
    height: 11px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 73px;
}
.section-heading.white-shape h2:after {
    background: rgba(0, 0, 0, 0) url("img/others/line-shape-white.png") no-repeat scroll 0 0;
}
.section-heading p {
    margin-bottom: 10px;
}

/* =====================================
Header Styling
===================================== */

.section-heading.shape-2 h2:after {
    background: rgba(0, 0, 0, 0) url("img/others/line-shape-2.png") no-repeat scroll 0 0;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =====================================
Header Styling
===================================== */

header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
#navigation {
    padding: 0 15px;
}
.navbar {
    border-radius: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.navbar.affix-top {
    padding: 30px 0;
}
.navbar.affix {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(#000 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(#000 0%, #81ee8e 100%) repeat scroll 0 0;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.8);
}
.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.navbar.affix .navbar-brand > img {
    width: 85%;
}
.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>.active>a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #2b323f;
}

/* ====================================
Home Page Styling
==================================== */

#slider-area.home-style-2 {
    background: rgba(0, 0, 0, 0) url("img/bg/7.jpg") no-repeat scroll center center / cover;
    padding-top: 90px;
}
.home-style-2 .navbar.affix {
    background: #272d3a none repeat scroll 0 0;
}
.home-style-2 .nav > li > a:focus, .home-style-2 .nav > li > a:hover, .home-style-2 .nav > .active > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #595BC8;
}

.promo-header-area {
    margin: 150px auto 0;
    width: 67%;
}
.promo-header-area h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.promo-header-area h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
}
.promo-header-area p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}

.promo-header-area .btn.btn-style-2:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.swiper-container.one {
    padding-top: 40px;
}
.promo-header-area .swiper-slide {
    padding: 0 43px;
}

#slider-area.home-style-3 {
    padding-top: 90px;
}
.home-style-3 .slider-text > h1 {
    font-size: 60px;
}
.slider-text span {
    font-weight: 300;
}

/* =====================================
Features Mini-section styling
===================================== */

#app-features-area.home-style-2 {
    padding-top: 40px;
}
.single-feature.feature-style-2 {
    padding: 50px 30px;
    text-align: center;
}
.feature-style-2 .feature-icon {
    margin-bottom: 30px;
    min-height: 50px;
}
.feature-style-2 .feature-icon img {
    margin-top: 0;
}

/* =====================================
Beta Area Styling
===================================== */

#app-about-area .section-heading {
    margin-bottom: 0;
}
.about-app h3 {
    margin-bottom: 30px;
}
.about-app p {
    margin-bottom: 35px;
}
.store-buttons {
    margin-top: 50px;
}
.store-buttons a {
    text-align: left;
}
.store-buttons a i, .store-buttons a p {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.about-app .store-buttons a:hover i, .about-app .store-buttons a:hover p {
    color: #fff;
}
.store-buttons a p {
    line-height: 1.2;
}
.store-buttons i {
    color: #fff;
    font-size: 24px;
    padding-right: 10px;
    vertical-align: middle;
}
.about-app .store-buttons i {
    color: #2b323f;
}
.store-buttons span {
    font-size: 18px;
    font-weight: 700;
}
.about-app-mockup img {
    margin-left: auto;
}
.gray-bg .btn.btn-bordered-grad:after {
    background: #f5f7fb none repeat scroll 0 0;
}



/* =====================================
Features Area
===================================== */

#awesome-features-area {
    background: #4c5462  no-repeat scroll center center / cover;
}
#awesome-features-area .section-heading {
    margin-bottom: 0;
}
#awesome-features-area .awesome-feature {
    margin-top: 80px;
}
#awesome-features-area .media-left {
    padding-right: 20px;
}
.awesome-feature-icon span {
    display: block;
    height: 60px;
    margin-left: 10px;
    position: relative;
    width: 60px;
}
.awesome-feature-icon span:after {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.awesome-feature-icon i {
    background-color: #f5f7fa;
    border-radius: 60px;
    color: #4c5462;
    display: inline-block;
    font-size: 24px;
    height: calc(100% - 2px);
    left: 1px;
    line-height: 58px;
    position: relative;
    text-align: center;
    top: 1px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: calc(100% - 2px);
    z-index: 1;
}
.awesome-feature:hover .awesome-feature-icon i {
    background: transparent;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.asesome-feature-details h5 {
    font-weight: 700;
    text-transform: uppercase;
}

/* =====================================
Video Styling (Coming Soon)
===================================== */

#promo-video-area {
    position: relative;
    top: 120px;
    z-index: 2;
}
.video-demo-image {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    display: inline-block;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#promo-video-area .overlay-grad-one:after {
    z-index: 1;
}
#promo-video-area .overlay-grad-two:after {
    z-index: 1;
}
.video-play-icon {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.video-play-icon i {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 80px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
}



/* =====================================
Defines Any App Screenshot Styling
===================================== */

.slider-wrapper-2 .slide {
    margin: 0 15px;
}
.slider-wrapper-2 .slider-image {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 5px 0 10px;
    position: relative;
}
.slider-wrapper-2 .slider-image:hover .preview-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.preview-icon {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    margin: 0 auto;
}
.preview-icon i {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 70px;
    color: #fff;
    font-size: 30px;
    height: 70px;
    left: 0;
    line-height: 70px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70px;
}
.slider-wrapper-2.slick-dotted.slick-slider {
    margin-bottom: 60px;
}
.slick-dots li {
    border: 1px solid #3AD7DF;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 12px;
}
.slick-dots li.slick-active {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    border: medium none;
}
.slick-dots li button {
    display: none;
}
.slick-dots {
    bottom: 70px;
}
#app-screenshot-area .slick-dots {
    bottom: -70px;
}
.swiper-container {
    width: 100%;
    padding-bottom: 60px;
}
.swiper-slide {
    width: 390px;
    height: auto;
    padding: 0 15px;
}
.swiper-slide img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.swiper-slide .slider-image .preview-icon {
    z-index: -1;
    width: calc(100% - 30px);
}
.swiper-slide.swiper-slide-active .slider-image:hover .preview-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}
.swiper-pagination-bullet {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #595BC8;
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 12px;
}
.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #595BC5 0%, #6D53C8 100%) repeat scroll 0 0;
    border: medium none;
    height: 12px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 12px;
}

/* =====================================
Footer
===================================== */

#footer-area {
    background-color: #2b323f;
    padding-bottom: 45px;
    padding-top: 23em;
}
#footer-area .social {
    margin-bottom: 25px;
    margin-top: 45px;
}
.copyright p {
    color: #fff;
    margin-bottom: 0;
}
.copyright a {
    color: #00c9fd;
}

/* =====================================
Style of Footer
===================================== */

.home-style-2 .copyright a {
    color: #595BC8;
}

/* =====================================
Added Classes
===================================== */

#slider-area.home-style-1.home-style-4 {
    background: rgba(0, 0, 0, 0) url("img/bg/6.jpg") repeat scroll center center / cover ;
    overflow: hidden;
    padding-top: 0;
}
#slider-area.home-style-1.home-style-4:before {
    z-index: 1;
}

#slider-area.home-style-5 {
    background: rgba(0, 0, 0, 0) linear-gradient(#4c5462 0%, #333 100%) repeat scroll 0 0 ;
    padding-top: 90px;
}
#slider-area.home-style-5:before {
    background: rgba(0, 0, 0, 0) url("img/bg/10.png") no-repeat scroll center bottom / 100% auto;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 0;
}